In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("db1.sqlite3")
cur=con.cursor()

In [3]:
q="create table customer (id int, name varchar(250))"
cur.execute(q)

In [4]:
q="insert into customer(id, name) values(1,'samba')"
cur.execute(q)

In [5]:
con.commit()

In [7]:
names=["samba","latha","varun","sidhu","shreyas","rahul","sara"]
import random
for i in range(2,101):
    q=f"insert into customer(id,name) values({i},'{random.choice(names)}')"
    cur.execute(q)
con.commit()

In [8]:
q="update customer set name='sambasiva' where id=91"
cur.execute(q)
con.commit()

In [9]:
q="delete from customer where id=91"
cur.execute(q)
con.commit()

In [10]:
names=["samba","latha","varun","sidhu","shreyas","rahul","sara"]
i=201
for name in names:
    q=f"insert into customer(id,name) values({i},'{name}')"
    i=i+1
    cur.execute(q)
con.commit()

In [12]:
q="select name,count(*) as c from customer group by(name) order by c"
cur.execute(q)

In [13]:
data = cur.fetchall()

In [14]:
data

[('latha', 12),
 ('rahul', 12),
 ('sidhu', 12),
 ('varun', 14),
 ('sara', 16),
 ('samba', 20),
 ('shreyas', 20)]

In [ ]:
import psycopg2
con = psycopg2.connect(database="db1",user="postgres",password="root",port=5432,host="localhost")
cur=con.cursor()
q="create table customer (id int, name varchar(250))"
cur.execute(q)
names=["samba","latha","varun","sidhu","shreyas","rahul","sara"]
import random
for i in range(2,101):
    q=f"insert into customer(id,name) values({i},'{random.choice(names)}')"
    cur.execute(q)
con.commit()
q="select name,count(*) as c from customer group by(name) order by c"
cur.execute(q)
data=cur.fetchall()
print(data)

In [15]:
def fun(a,b):
    print(a,b)
fun(a=200,b=3000)

200 3000

In [17]:
def fun(a,b):
    print(a,b)
fun(a=200,b=3000)
d={"a":2000,"b":3000}
fun(**d)

200 3000
2000 3000

In [18]:
def fun(a,b):
    print(a,b)
fun(a=200,b=3000)
d={"a":2000,"b":3000}
fun(**d)
fun(d)

200 3000
2000 3000

TypeError: fun() missing 1 required positional argument: 'b'

In [19]:
def fun(a,b):
    print(a,b)
fun(a=200,b=3000)
d={"a":2000,"b":3000}
fun(**d)
fun(100,200)

200 3000
2000 3000
100 200

In [20]:
def fun(a,b):
    print(a,b)
fun(a=200,b=3000)
d={"a":2000,"b":3000}
fun(**d)
t=(100,200)
fun(t)

200 3000
2000 3000

TypeError: fun() missing 1 required positional argument: 'b'

In [21]:
def fun(a,b):
    print(a,b)
fun(a=200,b=3000)
d={"a":2000,"b":3000}
fun(**d)
t=(100,200)
fun(*t)

200 3000
2000 3000
100 200