In [1]:
f=open("data.csv","w")

In [2]:
f.write("some data")

9

In [3]:
f.close()

In [4]:
f.write("some more content")

ValueError: I/O operation on closed file.

In [5]:
f=open("data.csv","w")

In [6]:
f.write("some content")
f.flush()

In [7]:
f.write("some more content")

17

In [8]:
f.close()

In [9]:
f=open("data.csv","a")
f.write("adding content in append mode..")
f.close()

In [10]:
f=open("data.csv","a")
l=["apple","banana","oranghe","grape"]
f.write(l)
f.close()

TypeError: write() argument must be str, not list

In [11]:
f=open("data.csv","a")
l=["apple","banana","oranghe","grape"]
f.writelines(l)
f.close()

In [12]:
f=open("data.csv","a")
l=["apple\n","banana\n","oranghe\n","grape\n"]
f.writelines(l)
f.close()

In [23]:
f=open("data.csv","w")
f.write("id,name,sal")
names=["rahul","sara","varun","latha","shreyas","krish"]
salaries=range(30000,1000000,10000)
import random
for i in range(100):
    row="\n%s,%s,%s"%(i,random.choice(names),random.choice(salaries))
    f.write(row)
    f.flush()
f.close()

In [24]:
f=open("data1.csv","r")

FileNotFoundError: [Errno 2] No such file or directory: 'data1.csv'

In [25]:
f=open("data.csv","r")
data=f.read()
print(data)

id,name,sal
0,sara,120000
1,sara,580000
2,krish,840000
3,varun,880000
4,krish,990000
5,krish,690000
6,shreyas,650000
7,krish,100000
8,latha,950000
9,sara,530000
10,sara,470000
11,krish,280000
12,krish,890000
13,rahul,120000
14,latha,370000
15,krish,460000
16,latha,90000
17,krish,310000
18,shreyas,760000
19,krish,540000
20,sara,540000
21,latha,880000
22,krish,880000
23,sara,260000
24,krish,910000
25,varun,550000
26,shreyas,120000
27,varun,160000
28,varun,400000
29,latha,90000
30,sara,790000
31,shreyas,80000
32,varun,170000
33,shreyas,770000
34,sara,550000
35,varun,490000
36,rahul,60000
37,rahul,730000
38,sara,70000
39,sara,440000
40,sara,240000
41,sara,490000
42,rahul,900000
43,shreyas,850000
44,latha,330000
45,sara,100000
46,rahul,920000
47,latha,930000
48,varun,580000
49,shreyas,250000
50,sara,340000
51,sara,30000
52,latha,670000
53,latha,580000
54,latha,770000
55,shreyas,880000
56,rahul,910000
57,latha,80000
58,sara,360000
59,rahul,40000
60,rahul,820000
61,shreyas,340000
62,krish,60000
63,varun,130000
64,krish,560000
65,varun,440000
66,rahul,830000
67,krish,490000
68,varun,460000
69,krish,650000
70,latha,620000
71,varun,140000
72,krish,400000
73,rahul,690000
74,sara,910000
75,varun,110000
76,krish,40000
77,rahul,580000
78,latha,410000
79,varun,950000
80,sara,780000
81,rahul,380000
82,latha,220000
83,shreyas,690000
84,latha,160000
85,krish,80000
86,shreyas,420000
87,varun,800000
88,sara,600000
89,krish,700000
90,krish,210000
91,krish,960000
92,rahul,850000
93,shreyas,820000
94,varun,790000
95,varun,280000
96,sara,690000
97,varun,480000
98,latha,490000
99,rahul,300000

In [26]:
f=open("data.csv","r")
print(f.readline())
print(f.readline())

id,name,sal

0,sara,120000

In [27]:
f.readline()

'1,sara,580000\n'

In [28]:
f.readline()

'2,krish,840000\n'

In [29]:
f=open("data.csv","r")
print(f.readlines())

['id,name,sal\n', '0,sara,120000\n', '1,sara,580000\n', '2,krish,840000\n', '3,varun,880000\n', '4,krish,990000\n', '5,krish,690000\n', '6,shreyas,650000\n', '7,krish,100000\n', '8,latha,950000\n', '9,sara,530000\n', '10,sara,470000\n', '11,krish,280000\n', '12,krish,890000\n', '13,rahul,120000\n', '14,latha,370000\n', '15,krish,460000\n', '16,latha,90000\n', '17,krish,310000\n', '18,shreyas,760000\n', '19,krish,540000\n', '20,sara,540000\n', '21,latha,880000\n', '22,krish,880000\n', '23,sara,260000\n', '24,krish,910000\n', '25,varun,550000\n', '26,shreyas,120000\n', '27,varun,160000\n', '28,varun,400000\n', '29,latha,90000\n', '30,sara,790000\n', '31,shreyas,80000\n', '32,varun,170000\n', '33,shreyas,770000\n', '34,sara,550000\n', '35,varun,490000\n', '36,rahul,60000\n', '37,rahul,730000\n', '38,sara,70000\n', '39,sara,440000\n', '40,sara,240000\n', '41,sara,490000\n', '42,rahul,900000\n', '43,shreyas,850000\n', '44,latha,330000\n', '45,sara,100000\n', '46,rahul,920000\n', '47,latha,930000\n', '48,varun,580000\n', '49,shreyas,250000\n', '50,sara,340000\n', '51,sara,30000\n', '52,latha,670000\n', '53,latha,580000\n', '54,latha,770000\n', '55,shreyas,880000\n', '56,rahul,910000\n', '57,latha,80000\n', '58,sara,360000\n', '59,rahul,40000\n', '60,rahul,820000\n', '61,shreyas,340000\n', '62,krish,60000\n', '63,varun,130000\n', '64,krish,560000\n', '65,varun,440000\n', '66,rahul,830000\n', '67,krish,490000\n', '68,varun,460000\n', '69,krish,650000\n', '70,latha,620000\n', '71,varun,140000\n', '72,krish,400000\n', '73,rahul,690000\n', '74,sara,910000\n', '75,varun,110000\n', '76,krish,40000\n', '77,rahul,580000\n', '78,latha,410000\n', '79,varun,950000\n', '80,sara,780000\n', '81,rahul,380000\n', '82,latha,220000\n', '83,shreyas,690000\n', '84,latha,160000\n', '85,krish,80000\n', '86,shreyas,420000\n', '87,varun,800000\n', '88,sara,600000\n', '89,krish,700000\n', '90,krish,210000\n', '91,krish,960000\n', '92,rahul,850000\n', '93,shreyas,820000\n', '94,varun,790000\n', '95,varun,280000\n', '96,sara,690000\n', '97,varun,480000\n', '98,latha,490000\n', '99,rahul,300000']

In [30]:
f=open("data.csv","r")
data=f.read()

In [31]:
f=open("fun_mem.png","rb")
data=f.read()
f.close()
f=open("fun_mem_copy.png","wb")
for i in range(20):
    f.write(data)
    f.flush()
f.close()

In [32]:
f=open("fun_mem_copy.png","rb")
data=f.read()

In [33]:
f=open("data.csv","r")
data=f.read(1024)
print(data)

id,name,sal
0,sara,120000
1,sara,580000
2,krish,840000
3,varun,880000
4,krish,990000
5,krish,690000
6,shreyas,650000
7,krish,100000
8,latha,950000
9,sara,530000
10,sara,470000
11,krish,280000
12,krish,890000
13,rahul,120000
14,latha,370000
15,krish,460000
16,latha,90000
17,krish,310000
18,shreyas,760000
19,krish,540000
20,sara,540000
21,latha,880000
22,krish,880000
23,sara,260000
24,krish,910000
25,varun,550000
26,shreyas,120000
27,varun,160000
28,varun,400000
29,latha,90000
30,sara,790000
31,shreyas,80000
32,varun,170000
33,shreyas,770000
34,sara,550000
35,varun,490000
36,rahul,60000
37,rahul,730000
38,sara,70000
39,sara,440000
40,sara,240000
41,sara,490000
42,rahul,900000
43,shreyas,850000
44,latha,330000
45,sara,100000
46,rahul,920000
47,latha,930000
48,varun,580000
49,shreyas,250000
50,sara,340000
51,sara,30000
52,latha,670000
53,latha,580000
54,latha,770000
55,shreyas,880000
56,rahul,910000
57,latha,80000
58,sara,360000
59,rahul,40000
60,rahul,820000
61,shreyas,340000
62,krish,60000
63,varun,130000
64,kr

In [34]:
f=open("fun_mem.png","rb")
data=f.read(100)
print(data)

b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\x05=\x00\x00\x02+\x08\x02\x00\x00\x00\xa2G\xaaS\x00\x00\x00\x01sRGB\x00\xae\xce\x1c\xe9\x00\x00\x00\x04gAMA\x00\x00\xb1\x8f\x0b\xfca\x05\x00\x00\x00\tpHYs\x00\x00\x0e\xc3\x00\x00\x0e\xc3\x01\xc7o\xa8d\x00\x00XVIDATx^\xed\xfd\xadr\xe3L\x00'

In [35]:
f=open("data.csv","r")
data=f.read(100)
print(data)

id,name,sal
0,sara,120000
1,sara,580000
2,krish,840000
3,varun,880000
4,krish,990000
5,krish,690000

In [36]:
data=f.read(100)
print(data)

6,shreyas,650000
7,krish,100000
8,latha,950000
9,sara,530000
10,sara,470000
11,krish,280000
12,krish

In [37]:
f=open("data.csv","r")
data=f.read()
data1=f.read()
print(data1)

In [38]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())
data1=f.read()
print(data1)

0
1694

In [39]:
f=open("data.csv","r")
while True:
    data=f.read(100)
    if data:
        print(data)
    else:
        break
print("done with file read")

id,name,sal
0,sara,120000
1,sara,580000
2,krish,840000
3,varun,880000
4,krish,990000
5,krish,690000

6,shreyas,650000
7,krish,100000
8,latha,950000
9,sara,530000
10,sara,470000
11,krish,280000
12,krish
,890000
13,rahul,120000
14,latha,370000
15,krish,460000
16,latha,90000
17,krish,310000
18,shreyas,76
0000
19,krish,540000
20,sara,540000
21,latha,880000
22,krish,880000
23,sara,260000
24,krish,910000
2
5,varun,550000
26,shreyas,120000
27,varun,160000
28,varun,400000
29,latha,90000
30,sara,790000
31,sh
reyas,80000
32,varun,170000
33,shreyas,770000
34,sara,550000
35,varun,490000
36,rahul,60000
37,rahul
,730000
38,sara,70000
39,sara,440000
40,sara,240000
41,sara,490000
42,rahul,900000
43,shreyas,850000

44,latha,330000
45,sara,100000
46,rahul,920000
47,latha,930000
48,varun,580000
49,shreyas,250000
50
,sara,340000
51,sara,30000
52,latha,670000
53,latha,580000
54,latha,770000
55,shreyas,880000
56,rahu
l,910000
57,latha,80000
58,sara,360000
59,rahul,40000
60,rahul,820000
61,shreyas,340000
62,krish,600
00
63,varun,130000
64,krish,560000
65,varun,440000
66,rahul,830000
67,krish,490000
68,varun,460000
6
9,krish,650000
70,latha,620000
71,varun,140000
72,krish,400000
73,rahul,690000
74,sara,910000
75,var
un,110000
76,krish,40000
77,rahul,580000
78,latha,410000
79,varun,950000
80,sara,780000
81,rahul,380
000
82,latha,220000
83,shreyas,690000
84,latha,160000
85,krish,80000
86,shreyas,420000
87,varun,8000
00
88,sara,600000
89,krish,700000
90,krish,210000
91,krish,960000
92,rahul,850000
93,shreyas,820000

94,varun,790000
95,varun,280000
96,sara,690000
97,varun,480000
98,latha,490000
99,rahul,300000
done with file read

In [40]:
f=open("data.csv","r")
while True:
    l=f.readline()
    print(l)
    if not l:
        break

id,name,sal

0,sara,120000

1,sara,580000

2,krish,840000

3,varun,880000

4,krish,990000

5,krish,690000

6,shreyas,650000

7,krish,100000

8,latha,950000

9,sara,530000

10,sara,470000

11,krish,280000

12,krish,890000

13,rahul,120000

14,latha,370000

15,krish,460000

16,latha,90000

17,krish,310000

18,shreyas,760000

19,krish,540000

20,sara,540000

21,latha,880000

22,krish,880000

23,sara,260000

24,krish,910000

25,varun,550000

26,shreyas,120000

27,varun,160000

28,varun,400000

29,latha,90000

30,sara,790000

31,shreyas,80000

32,varun,170000

33,shreyas,770000

34,sara,550000

35,varun,490000

36,rahul,60000

37,rahul,730000

38,sara,70000

39,sara,440000

40,sara,240000

41,sara,490000

42,rahul,900000

43,shreyas,850000

44,latha,330000

45,sara,100000

46,rahul,920000

47,latha,930000

48,varun,580000

49,shreyas,250000

50,sara,340000

51,sara,30000

52,latha,670000

53,latha,580000

54,latha,770000

55,shreyas,880000

56,rahul,910000

57,latha,80000

58,sara,360000

59,rahul,40000

60,rahul,820000

61,shreyas,340000

62,krish,60000

63,varun,130000

64,krish,560000

65,varun,440000

66,rahul,830000

67,krish,490000

68,varun,460000

69,krish,650000

70,latha,620000

71,varun,140000

72,krish,400000

73,rahul,690000

74,sara,910000

75,varun,110000

76,krish,40000

77,rahul,580000

78,latha,410000

79,varun,950000

80,sara,780000

81,rahul,380000

82,latha,220000

83,shreyas,690000

84,latha,160000

85,krish,80000

86,shreyas,420000

87,varun,800000

88,sara,600000

89,krish,700000

90,krish,210000

91,krish,960000

92,rahul,850000

93,shreyas,820000

94,varun,790000

95,varun,280000

96,sara,690000

97,varun,480000

98,latha,490000

99,rahul,300000

In [41]:
f=open("data.csv","r")
for i in f:
    print(i)

id,name,sal

0,sara,120000

1,sara,580000

2,krish,840000

3,varun,880000

4,krish,990000

5,krish,690000

6,shreyas,650000

7,krish,100000

8,latha,950000

9,sara,530000

10,sara,470000

11,krish,280000

12,krish,890000

13,rahul,120000

14,latha,370000

15,krish,460000

16,latha,90000

17,krish,310000

18,shreyas,760000

19,krish,540000

20,sara,540000

21,latha,880000

22,krish,880000

23,sara,260000

24,krish,910000

25,varun,550000

26,shreyas,120000

27,varun,160000

28,varun,400000

29,latha,90000

30,sara,790000

31,shreyas,80000

32,varun,170000

33,shreyas,770000

34,sara,550000

35,varun,490000

36,rahul,60000

37,rahul,730000

38,sara,70000

39,sara,440000

40,sara,240000

41,sara,490000

42,rahul,900000

43,shreyas,850000

44,latha,330000

45,sara,100000

46,rahul,920000

47,latha,930000

48,varun,580000

49,shreyas,250000

50,sara,340000

51,sara,30000

52,latha,670000

53,latha,580000

54,latha,770000

55,shreyas,880000

56,rahul,910000

57,latha,80000

58,sara,360000

59,rahul,40000

60,rahul,820000

61,shreyas,340000

62,krish,60000

63,varun,130000

64,krish,560000

65,varun,440000

66,rahul,830000

67,krish,490000

68,varun,460000

69,krish,650000

70,latha,620000

71,varun,140000

72,krish,400000

73,rahul,690000

74,sara,910000

75,varun,110000

76,krish,40000

77,rahul,580000

78,latha,410000

79,varun,950000

80,sara,780000

81,rahul,380000

82,latha,220000

83,shreyas,690000

84,latha,160000

85,krish,80000

86,shreyas,420000

87,varun,800000

88,sara,600000

89,krish,700000

90,krish,210000

91,krish,960000

92,rahul,850000

93,shreyas,820000

94,varun,790000

95,varun,280000

96,sara,690000

97,varun,480000

98,latha,490000

99,rahul,300000

In [42]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())

data1=f.read()
print(data1)

0
1694

In [43]:
f=open("data.csv","r")
print(f.tell())
data=f.read()
print(f.tell())
f.seek(100)
print(f.tell())
data1=f.read()
print(data1)

0
1694
100
90000
6,shreyas,650000
7,krish,100000
8,latha,950000
9,sara,530000
10,sara,470000
11,krish,280000
12,krish,890000
13,rahul,120000
14,latha,370000
15,krish,460000
16,latha,90000
17,krish,310000
18,shreyas,760000
19,krish,540000
20,sara,540000
21,latha,880000
22,krish,880000
23,sara,260000
24,krish,910000
25,varun,550000
26,shreyas,120000
27,varun,160000
28,varun,400000
29,latha,90000
30,sara,790000
31,shreyas,80000
32,varun,170000
33,shreyas,770000
34,sara,550000
35,varun,490000
36,rahul,60000
37,rahul,730000
38,sara,70000
39,sara,440000
40,sara,240000
41,sara,490000
42,rahul,900000
43,shreyas,850000
44,latha,330000
45,sara,100000
46,rahul,920000
47,latha,930000
48,varun,580000
49,shreyas,250000
50,sara,340000
51,sara,30000
52,latha,670000
53,latha,580000
54,latha,770000
55,shreyas,880000
56,rahul,910000
57,latha,80000
58,sara,360000
59,rahul,40000
60,rahul,820000
61,shreyas,340000
62,krish,60000
63,varun,130000
64,krish,560000
65,varun,440000
66,rahul,830000
67,krish,490000
68,varun,460000
69,krish,650000
70,latha,620000
71,varun,140000
72,krish,400000
73,rahul,690000
74,sara,910000
75,varun,110000
76,krish,40000
77,rahul,580000
78,latha,410000
79,varun,950000
80,sara,780000
81,rahul,380000
82,latha,220000
83,shreyas,690000
84,latha,160000
85,krish,80000
86,shreyas,420000
87,varun,800000
88,sara,600000
89,krish,700000
90,krish,210000
91,krish,960000
92,rahul,850000
93,shreyas,820000
94,varun,790000
95,varun,280000
96,sara,690000
97,varun,480000
98,latha,490000
99,rahul,300000

In [1]:
config_details = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
import json

In [5]:
f=open("config.json","w")
config_details = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
import json
json.dump(config_details,f)
f.close()

In [13]:
import json
f=open("config.json")
data=f.read()
print(data)

[{"hostname": "www.localhost.com", "database": "db1", "db_user": "databaseuser", "app_user": "user1"}]

In [14]:
type(data)

str

In [15]:
import json
f=open("config.json")
data=json.load(f)
print(data)
print(type(data))

[{'hostname': 'www.localhost.com', 'database': 'db1', 'db_user': 'databaseuser', 'app_user': 'user1'}]
<class 'list'>

In [19]:
config_details = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
import yaml
f=open("config.yaml","w")
yaml.dump(config_details,f)
f.close()

In [20]:
f=open("config.yaml")
data=yaml.load(f)
print(data)
print(type(data))

[{'app_user': 'user1', 'database': 'db1', 'db_user': 'databaseuser', 'hostname': 'www.localhost.com'}]
<class 'list'>

In [21]:
data = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
f=open("data.txt","w")
f.write(data)
f.close()

TypeError: write() argument must be str, not list

In [22]:
data = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
f=open("data.txt","w")
f.writelines(data)
f.close()

TypeError: write() argument must be str, not dict

In [23]:
data = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
f=open("data.txt","w")
f.writelines(str(data))
f.close()

In [24]:
f=open("data.txt")
data=f.read()
print(data,type(data))

[{'hostname': 'www.localhost.com', 'database': 'db1', 'db_user': 'databaseuser', 'app_user': 'user1'}] <class 'str'>

In [25]:
#pickling
data = [{"hostname":"www.localhost.com","database":"db1","db_user":"databaseuser","app_user":"user1"}]
import pickle
f=open("data.txt","wb")
pickle.dump(data,f)
f.close()

In [26]:
f=open("data.txt")
data=f.read()
print(data)

â‚¬]q }q(X   hostnameqX   www.localhost.comqX   databaseqX   db1qX   db_userqX   databaseuserqX   app_userqX   user1q	ua.

In [28]:
f=open("data.txt","rb")
import pickle
data = pickle.load(f)
print(data)
print(type(data))

[{'hostname': 'www.localhost.com', 'database': 'db1', 'db_user': 'databaseuser', 'app_user': 'user1'}]
<class 'list'>

In [1]:
f=open("data.csv")
data=f.read()
def fun(data):
    print(data)
fun(data)

id,name,sal
0,sara,120000
1,sara,580000
2,krish,840000
3,varun,880000
4,krish,990000
5,krish,690000
6,shreyas,650000
7,krish,100000
8,latha,950000
9,sara,530000
10,sara,470000
11,krish,280000
12,krish,890000
13,rahul,120000
14,latha,370000
15,krish,460000
16,latha,90000
17,krish,310000
18,shreyas,760000
19,krish,540000
20,sara,540000
21,latha,880000
22,krish,880000
23,sara,260000
24,krish,910000
25,varun,550000
26,shreyas,120000
27,varun,160000
28,varun,400000
29,latha,90000
30,sara,790000
31,shreyas,80000
32,varun,170000
33,shreyas,770000
34,sara,550000
35,varun,490000
36,rahul,60000
37,rahul,730000
38,sara,70000
39,sara,440000
40,sara,240000
41,sara,490000
42,rahul,900000
43,shreyas,850000
44,latha,330000
45,sara,100000
46,rahul,920000
47,latha,930000
48,varun,580000
49,shreyas,250000
50,sara,340000
51,sara,30000
52,latha,670000
53,latha,580000
54,latha,770000
55,shreyas,880000
56,rahul,910000
57,latha,80000
58,sara,360000
59,rahul,40000
60,rahul,820000
61,shreyas,340000
62,krish,60000
63,varun,130000
64,krish,560000
65,varun,440000
66,rahul,830000
67,krish,490000
68,varun,460000
69,krish,650000
70,latha,620000
71,varun,140000
72,krish,400000
73,rahul,690000
74,sara,910000
75,varun,110000
76,krish,40000
77,rahul,580000
78,latha,410000
79,varun,950000
80,sara,780000
81,rahul,380000
82,latha,220000
83,shreyas,690000
84,latha,160000
85,krish,80000
86,shreyas,420000
87,varun,800000
88,sara,600000
89,krish,700000
90,krish,210000
91,krish,960000
92,rahul,850000
93,shreyas,820000
94,varun,790000
95,varun,280000
96,sara,690000
97,varun,480000
98,latha,490000
99,rahul,300000